.bodytext { 
    /*border: 1px solid black; */
    padding: 20px;
    /* margin-left: 60px; */
/*                background-color: #cccccc;
    width: 50%;  */
}

.bold {
    font-weight: 900;
}

h2 {
    /* font...  */
}

.secgap {
    margin-top: 15px;
}

.sectitle {
    font-family: Verdana;
    font-size: 250%;
    font-weight: 900;
}

.subsec {
    font-size: 130%;
    font-family: Arial;
    font-weight: 500;
}